.hero{
    background-image: url(./assets/img/BackgroundHero.svg);
    height: 95vh;
}


.custom-gradient {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #17150f;
    --tw-gradient-to: #000;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.formi label{
    font-weight: 900;
    font-size: x-large;
}
.formi input,.formi select{
    color: black;
    font-weight: lighter;
    height: 60px;
}